<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA_XhZRmqHa0Tek8Qy2DVnwWr7taj4qfQI</string>
	<key>GCM_SENDER_ID</key>
	<string>664341188699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.alrikabf</string>
	<key>PROJECT_ID</key>
	<string>alrikab-web</string>
	<key>STORAGE_BUCKET</key>
	<string>alrikab-web.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:664341188699:ios:1a93327cac37b64aaa6f7e</string>
</dict>
</plist>